// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/list-border';
@import 'components/panel-confirmation';
@import 'components/phase-banner';
@import 'components/related-nav';
@import 'components/tag';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below...
///////////////////////////////////////////

a {
  width: fit-content;
}

.row a {
  // padding-right: 24px;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .row {
    width: 100%;
  }
  .column a {
    font-size: 1rem;
  }
}


  .nhsuk-checkboxes__conditional--red {
    border-left: 4px solid #d5281b;
    margin-bottom: 0;
  }

  .nhsuk-radios__conditional--red {
    border-left: 4px solid #d5281b;
    margin-bottom: 0;
  }

  .nhsuk-checkboxes__conditional--red #eu-location-picker {
    border: 4px solid #d5281b;
  }

  .nhsuk-checkboxes__conditional--red #other-location-picker {
    border: 4px solid #d5281b;
  }


#expander__wrapper {
  background-color: #fff;
  padding: 24px;
  position: relative;
}

#expander__wrapper .nhsuk-details__summary {
  padding: 0 24px 0 24px;
}


#expander__wrapper hr {
  margin: 20px 24px 20px 24px;
}

.wrapping-link {
  padding: 24px 0 0 24px;
}

#expander__wrapper__2 {
  background-color: #fff;
  padding: 24px;
  position: relative;
}

#expander__wrapper__2 .nhsuk-details__summary {
  padding: 0 24px 0 24px;
}

#expander__wrapper__2 hr {
  margin: 20px 24px 20px 24px;
}



.nhsuk-warning-callout .width-reducer {
  width: 90%;
}

.callout {
    padding: 32px;
    background-color: #fff;
  }

.callout--interruption {
    webkit-box-shadow: 0px 0px 14px 3px #ebebeb;
    -moz-box-shadow: 0px 0px 14px 3px #ebebeb;
    box-shadow: 0px 0px 14px 3px #ebebeb;
    border: 1px solid #cbd6d8;
    border-radius: 5px;
  }

.callout--interruption.alt {
    background-color: #004D97;
    color: white;
  }

//  *************************************
//  Autocomplete styles
//  *************************************

 .autocomplete__wrapper {
  position: relative;
  background-color: #fff;
}
.autocomplete__hint,
.autocomplete__input {
  -webkit-appearance: none;
  border: 2px solid #0b0c0c;
  border-radius: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0;
  width: 100%;
}
.autocomplete__input {
  background-color: transparent;
  position: relative;
}
.autocomplete__hint {
  color: #b1b4b6;
  position: absolute;
  z-index: -1;
}
.autocomplete__input--default {
  padding: 5px;
}
.autocomplete__input:focus {
  border: 3px solid #fd0;
  box-shadow: inset 0 0 0 2px #212b32;
  outline: 4px solid transparent;
  outline-offset: 3px;
}
.autocomplete__input--focused {
  outline: 3px solid #fd0;
  outline-offset: 0;
  box-shadow: inset 0 0 0 2px;
}
.autocomplete__input--show-all-values {
  padding: 5px 34px 5px 5px;
  cursor: pointer;
}
.autocomplete__dropdown-arrow-down {
  z-index: -1;
  display: inline-block;
  position: absolute;
  right: 8px;
  width: 24px;
  height: 24px;
  top: 10px;
}
.autocomplete__menu {
  background-color: #fff;
  border: 2px solid #0b0c0c;
  border-top: 0;
  color: #0b0c0c;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 4px);
}
.autocomplete__menu--visible {
  display: block;
}
.autocomplete__menu--hidden {
  display: none;
}
.autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, 0.256863) 0 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}
.autocomplete__menu--inline {
  position: relative;
}
.autocomplete__option {
  border-bottom: solid #b1b4b6;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  position: relative;
}
.autocomplete__option > * {
  pointer-events: none;
}
.autocomplete__option:first-of-type {
  border-top-width: 0;
}
.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}
.autocomplete__option--odd {
  background-color: #fafafa;
}
.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: #1d70b8;
  border-color: #1d70b8;
  color: #fff;
  outline: 0;
}
.autocomplete__option--no-results {
  background-color: #fafafa;
  color: #646b6f;
  cursor: not-allowed;
}
.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 16px;
  line-height: 1.25;
}
.autocomplete__hint,
.autocomplete__option {
  padding: 5px;
}
@media (min-width: 641px) {
  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
      font-size: 19px;
      line-height: 1.31579;
  }
}


// nhsuk-hub-key-links

.beta-hub-after-key-links>h2,
.beta-hub-bottom-content>h2,
.beta-hub-key-links__list-item,
.nhsuk-heading-s,
h4 {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.55556;
  display: block;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 16px
}

@media (min-width:40.0625em) {
  .beta-hub-after-key-links>h2,
  .beta-hub-bottom-content>h2,
  .beta-hub-key-links__list-item,
  .nhsuk-heading-s,
  h4 {
    font-size: 22px;
    font-size: 1.375rem;
    line-height: 1.45455
  }
}

@media print {
  .beta-hub-after-key-links>h2,
  .beta-hub-bottom-content>h2,
  .beta-hub-key-links__list-item,
  .nhsuk-heading-s,
  h4 {
    font-size: 18pt;
    line-height: 1.15
  }
}

@media (min-width:40.0625em) {
  .beta-hub-after-key-links>h2,
  .beta-hub-bottom-content>h2,
  .beta-hub-key-links__list-item,
  .nhsuk-heading-s,
  h4 {
    margin-bottom: 24px
  }
}

.beta-hub-after-key-links>.nhsuk-body-m+h2,
.beta-hub-after-key-links>.nhsuk-body-s+h2,
.beta-hub-after-key-links>.nhsuk-list+h2,
.beta-hub-after-key-links>address+h2,
.beta-hub-after-key-links>ol+h2,
.beta-hub-after-key-links>p+h2,
.beta-hub-after-key-links>ul+h2,
.beta-hub-bottom-content>.nhsuk-body-m+h2,
.beta-hub-bottom-content>.nhsuk-body-s+h2,
.beta-hub-bottom-content>.nhsuk-list+h2,
.beta-hub-bottom-content>address+h2,
.beta-hub-bottom-content>ol+h2,
.beta-hub-bottom-content>p+h2,
.beta-hub-bottom-content>ul+h2,
.nhsuk-body-m+.beta-hub-key-links__list-item,
.nhsuk-body-m+.nhsuk-heading-m,
.nhsuk-body-m+.nhsuk-heading-s,
.nhsuk-body-m+h3,
.nhsuk-body-m+h4,
.nhsuk-body-s+.beta-hub-key-links__list-item,
.nhsuk-body-s+.nhsuk-heading-m,
.nhsuk-body-s+.nhsuk-heading-s,
.nhsuk-body-s+h3,
.nhsuk-body-s+h4,
.nhsuk-list+.beta-hub-key-links__list-item,
.nhsuk-list+.nhsuk-heading-m,
.nhsuk-list+.nhsuk-heading-s,
.nhsuk-list+h3,
.nhsuk-list+h4,
address+.beta-hub-key-links__list-item,
address+.nhsuk-heading-m,
address+.nhsuk-heading-s,
address+h3,
address+h4,
ol+.beta-hub-key-links__list-item,
ol+.nhsuk-heading-m,
ol+.nhsuk-heading-s,
ol+h3,
ol+h4,
p+.beta-hub-key-links__list-item,
p+.nhsuk-heading-m,
p+.nhsuk-heading-s,
p+h3,
p+h4,
ul+.beta-hub-key-links__list-item,
ul+.nhsuk-heading-m,
ul+.nhsuk-heading-s,
ul+h3,
ul+h4 {
  padding-top: 4px
}

@media (min-width:40.0625em) {
  .beta-hub-after-key-links>.nhsuk-body-m+h2,
  .beta-hub-after-key-links>.nhsuk-body-s+h2,
  .beta-hub-after-key-links>.nhsuk-list+h2,
  .beta-hub-after-key-links>address+h2,
  .beta-hub-after-key-links>ol+h2,
  .beta-hub-after-key-links>p+h2,
  .beta-hub-after-key-links>ul+h2,
  .beta-hub-bottom-content>.nhsuk-body-m+h2,
  .beta-hub-bottom-content>.nhsuk-body-s+h2,
  .beta-hub-bottom-content>.nhsuk-list+h2,
  .beta-hub-bottom-content>address+h2,
  .beta-hub-bottom-content>ol+h2,
  .beta-hub-bottom-content>p+h2,
  .beta-hub-bottom-content>ul+h2,
  .nhsuk-body-m+.beta-hub-key-links__list-item,
  .nhsuk-body-m+.nhsuk-heading-m,
  .nhsuk-body-m+.nhsuk-heading-s,
  .nhsuk-body-m+h3,
  .nhsuk-body-m+h4,
  .nhsuk-body-s+.beta-hub-key-links__list-item,
  .nhsuk-body-s+.nhsuk-heading-m,
  .nhsuk-body-s+.nhsuk-heading-s,
  .nhsuk-body-s+h3,
  .nhsuk-body-s+h4,
  .nhsuk-list+.beta-hub-key-links__list-item,
  .nhsuk-list+.nhsuk-heading-m,
  .nhsuk-list+.nhsuk-heading-s,
  .nhsuk-list+h3,
  .nhsuk-list+h4,
  address+.beta-hub-key-links__list-item,
  address+.nhsuk-heading-m,
  address+.nhsuk-heading-s,
  address+h3,
  address+h4,
  ol+.beta-hub-key-links__list-item,
  ol+.nhsuk-heading-m,
  ol+.nhsuk-heading-s,
  ol+h3,
  ol+h4,
  p+.beta-hub-key-links__list-item,
  p+.nhsuk-heading-m,
  p+.nhsuk-heading-s,
  p+h3,
  p+h4,
  ul+.beta-hub-key-links__list-item,
  ul+.nhsuk-heading-m,
  ul+.nhsuk-heading-s,
  ul+h3,
  ul+h4 {
    padding-top: 8px
  }
}

.beta-hub-key-links {
  list-style-type: none;
  margin: 0;
  padding: 1.125em 0
}

.beta-hub-sibling-nav {
  border-top: 0
}

.beta-hub-sibling-nav .beta-hub-sibling-nav--current {
  border-left: 4px solid #212b32;
  color: #212b32;
  margin-left: -12px;
  padding-left: 8px
}

.beta-hub-sibling-nav .beta-hub-sibling-nav__item {
  padding-bottom: 4px;
  padding-top: 4px
}

.beta-hub-sibling-nav .beta-hub-sibling-nav__list {
  padding-left: 12px
}

.app-related-nav {
  // border-top: 2px solid #005eb8
}

@media (max-width:48.0525em) {
  .app-related-nav {
    margin-top: 48px
  }
}

.app-related-nav__heading {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 1.2;
  margin-bottom: 16px;
  padding-top: 16px
}

@media (min-width:40.0625em) {
  .app-related-nav__heading {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.2
  }
}

@media print {
  .app-related-nav__heading {
    font-size: 18pt;
    line-height: 1.2
  }
}

.app-related-nav__list {
  list-style: none;
  margin-bottom: 16px;
  padding-left: 0
}

.app-related-nav__item {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.71429
}

@media (min-width:40.0625em) {
  .app-related-nav__item {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5
  }
}

@media print {
  .app-related-nav__item {
    font-size: 14pt;
    line-height: 1.2
  }
}

.app-related-nav__sub-heading {
  margin-bottom: 8px;
  padding-top: 8px;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.2
}

@media (min-width:40.0625em) {
  .app-related-nav__sub-heading {
    margin-bottom: 8px
  }
}

@media (min-width:40.0625em) {
  .app-related-nav__sub-heading {
    padding-top: 8px
  }
}

@media (min-width:40.0625em) {
  .app-related-nav__sub-heading {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.2
  }
}

@media print {
  .app-related-nav__sub-heading {
    font-size: 14pt;
    line-height: 1.2
  }
}

.nhsuk-u-padding-bottom-3 {
  padding-bottom: 8px!important
}

@media (min-width:40.0625em) {
  .nhsuk-u-padding-bottom-3 {
    padding-bottom: 16px!important
  }
}



.nhsuk-card {
  margin-bottom: 40px;
  background: #fff;
  border: 1px solid #d8dde0;
  position: relative;
  width: 100%
}

@media (min-width:40.0625em) {
  .nhsuk-card {
    margin-bottom: 48px
  }
}

.nhsuk-card__img {
  border-bottom: 1px solid #f0f4f5;
  display: block;
  width: 100%
}

@media print {
  .nhsuk-card__img {
    display: none
  }
}

.nhsuk-card__content {
  padding: 24px;
  position: relative
}

.nhsuk-card__content>:first-child {
  margin-top: 0
}

.nhsuk-card__content>:last-child {
  margin-bottom: 0
}

@media (min-width:40.0625em) {
  .nhsuk-card__content {
    padding: 32px
  }
}

.nhsuk-card__description,
.nhsuk-card__heading,
.nhsuk-card__metadata {
  margin-bottom: 16px
}

.nhsuk-card--clickable {
  border-bottom-width: 4px
}

.nhsuk-card--clickable:active,
.nhsuk-card--clickable:hover {
  cursor: pointer
}

.nhsuk-card--clickable:active .nhsuk-card__heading a,
.nhsuk-card--clickable:active .nhsuk-card__link,
.nhsuk-card--clickable:hover .nhsuk-card__heading a,
.nhsuk-card--clickable:hover .nhsuk-card__link {
  color: #7c2855;
  text-decoration: none
}

.nhsuk-card--clickable:active .nhsuk-card__heading a:focus,
.nhsuk-card--clickable:active .nhsuk-card__link:focus,
.nhsuk-card--clickable:hover .nhsuk-card__heading a:focus,
.nhsuk-card--clickable:hover .nhsuk-card__link:focus {
  color: #212b32
}

.nhsuk-card--clickable:hover {
  border-color: #aeb7bd
}

.nhsuk-card--clickable:active {
  border-color: #aeb7bd;
  bottom: -1px
}

.nhsuk-card-group {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding: 0
}

@media (max-width:48.0525em) {
  .nhsuk-card-group {
    margin-bottom: 40px
  }
}

.nhsuk-card-group+.nhsuk-heading-l,
.nhsuk-card-group+.nhsuk-heading-m,
.nhsuk-card-group+h2,
.nhsuk-card-group+h3 {
  padding-top: 0
}

.nhsuk-card-group__item {
  display: flex;
  list-style-type: none;
  margin-bottom: 0
}

@media (max-width:48.0525em) {
  .nhsuk-card-group__item {
    flex: 0 0 100%
  }
}

.nhsuk-card-group__item .nhsuk-card {
  margin-bottom: 32px
}

@media (max-width:48.0525em) {
  .nhsuk-card-group__item .nhsuk-card {
    margin-bottom: 16px
  }
  .nhsuk-card-group__item:last-child .nhsuk-card {
    margin-bottom: 0
  }
}

.nhsuk-card--feature {
  margin-top: 40px
}

@media (min-width:40.0625em) {
  .nhsuk-card--feature {
    margin-top: 48px
  }
}

.nhsuk-card__heading--feature {
  background: #005eb8;
  color: #fff;
  display: inline-block;
  left: -25px;
  margin-bottom: 8px;
  margin-right: -24px;
  padding: 8px 24px;
  position: relative;
  top: -8px
}

@media (min-width:40.0625em) {
  .nhsuk-card__heading--feature {
    left: -33px;
    margin-right: -32px;
    padding: 8px 32px;
    top: -16px
  }
}

.nhsuk-card__content--feature {
  padding-top: 0!important
}

//  *************************************