{% extends "layout.html" %}

{% block pageTitle %}
  What is your child's date of birth?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
              <a href="#example">Date of birth must include a day, month and year</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- <form action="nino" method="post"> -->
      <form action="dateBirthErr" method="post">

        <h2>What is your child's date of birth?</h2>

        {{ dateInput({
          "id": "example",
          "namePrefix": "child",
          "fieldset": {
            "legend": {
              "text": "",
              "classes": "nhsuk-label--l",
              "isPageHeading": true
                }
              },
              "hint": {
                "text": "Your child must be under 18 years old. For example, 15 3 2021."
              },
              "errorMessage": {
                "text": "Date of birth must include a day, month and year"
              },
              "items": [
                {
                  "name": "day",
                  "classes": "nhsuk-input--width-2 nhsuk-input--error"
                },
                {
                  "name": "month",
                  "classes": "nhsuk-input--width-2 nhsuk-input--error"
                },
                {
                  "name": "year",
                  "classes": "nhsuk-input--width-4 nhsuk-input--error"
                }
              ]
            }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
