{% extends 'layout.html' %}

{% block pageTitle %}
  You need to apply by phone to get cover for treatment in that country
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>You need to apply by phone to get cover for treatment in that country</h1>

      <p class="nhsuk-lede-text">
        You cannot use this online service to apply for a PRC to cover treatment in {{ data['location-picker-1'] }}.
      </p>

      <p class="nhsuk-lede-text">
        You need to <a href="https://www.nhsbsa.nhs.uk/contact-us/overseas-healthcare-services-contact-us">contact us</a> to apply by phone instead.
      </p>
      
    </div>  

  </div>
{% endblock %}
