{% extends 'layout.html' %}

{% block pageTitle %}
  You may be able to apply by phone for healthcare in Switzerland
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>You may be able to apply by phone for healthcare in Switzerland</h1>

      <div class="nhsuk-lede-text">
        <p>
          A PRC only covers healthcare in Switzerland for:
        </p>
  
        <ul>
          <li>a UK national</li>
          <li>a Swiss national</li>
          <li>a national of an EU country</li>
          <li>a stateless person or refugee</li>
          <li>a family member of someone who holds one of these nationalities or statuses</li>
        </ul>
  
      </div>
      
      <p>If any of these apply to you, you'll need to <a href="https://www.nhsbsa.nhs.uk/contact-us/overseas-healthcare-services-contact-us">contact us to apply for a PRC by phone</a>.</p>
  
      <p>If none of these apply, you cannot get a PRC for healthcare in Switzerland.</p>

    </div>  

  </div>
{% endblock %}
