{% extends "layout.html" %}

{% block pageTitle %}
  Applying for a PRC for your child
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
      <form action="ordinarily-live" method="post">

        <h2>Applying for a PRC for your child</h2>

        <p>To process your application, we need to ask you for:</p>
        
        <ul>
          <li>your details</li>
          <li>details of when and where your child has had treatment</li>
        </ul>

        <p>We'll then ask for your child's details afterwards.</p>

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Change my previous answer"
      }) }}
      
    </div>
  </div>
{% endblock %}
