{% extends "layout.html" %}

{% block pageTitle %}
  What is the name of the hospital, clinic, or treatment facility?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="data-capture/full-name" method="post">

        <h1>Check your answers</h1>

              <h2>Treatment details</h2>

               <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                        Treatment country
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                      {{ data['location-picker-1'] }}
                      {% if not data['location-picker-1'].length %}
                        France
                     {% endif %}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="treatment-country">
                        Change <span class="nhsuk-u-visually-hidden">name</span>
                        </a>
                     </dd>
                  </div>
                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                        Treatment start date
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                         {% if not data['start-date'].length %}
                            &#8212;
                         {% elseif data['start-date'] == "text" %}
                            {{ startDateFormatted }}
                         {% else %}
                            {{ todayDateFormatted }}
                         {% endif %}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="treatment-start">
                        Change <span class="nhsuk-u-visually-hidden">name</span>
                        </a>
                     </dd>
                  </div>
              </dl>

              <h2>Treatment facility</h2>

                <dl style="margin-bottom: 10px;" class="nhsuk-summary-list">

                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                        Treatment start date
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                         {% if not data['start-date'].length %}
                            &#8212;
                         {% elseif data['start-date'] == "text" %}
                            {{ data['choose-start-date-day'] }} / {{ data['choose-start-date-month'] }} / {{ data['choose-start-date-year'] }}
                         {% else %}
                            {{ data['start-date'] }}
                         {% endif %}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="treatment-start">
                        Change <span class="nhsuk-u-visually-hidden">name</span>
                        </a>
                     </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                        Hospital, clinic or treatment facility
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                      {{ data['treatment-facility-name']}}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="treatment-facility-name">
                        Change <span class="nhsuk-u-visually-hidden">name</span>
                        </a>
                     </dd>
                  </div>

                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                        Email address
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                      {{ data['treatment-facility-email']}}
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="treatment-facility-email">
                        Change <span class="nhsuk-u-visually-hidden">name</span>
                        </a>
                     </dd>
                  </div>
               </dl>
               <br>

               <h2>Other facilities</h2>

                <dl style="margin-bottom: 10px;" class="nhsuk-summary-list">

                  <div class="nhsuk-summary-list__row">
                     <dt class="nhsuk-summary-list__key nhsuk-!-width-one-third">
                        Do you need a PRC for any other facilities?
                     </dt>
                     <dd class="nhsuk-summary-list__value">
                        No
                     </dd>
                     <dd class="nhsuk-summary-list__actions">
                        <a class="nhsuk-link" href="additional-facility">
                        Change <span class="nhsuk-u-visually-hidden">name</span>
                        </a>
                     </dd>
                  </div>

               </dl>

        {{ button({
          "text": "Continue"
        }) }} 

      </form>

    </div>
  </div>
{% endblock %}