{% extends "layout.html" %}

{% block pageTitle %}
  What is the name of the hospital, clinic, or treatment facility?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="treatment-facility-email-2" method="post">
        <span class="nhsuk-caption-l nhsuk-caption--bottom">Treatment facility 2</span>
        <br>

        {% call fieldset({
          legend: {
            text: "What is the name of the hospital, clinic, or treatment facility?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <div class="nhsuk-hint">
          If your child had treatment in more than one place, you'll be able to add these later.
        </div>
        
        <!-- Ospedale Santobono Entrata Pronto Soccorso -->

        {{ details({
          "text": "What medical facilities are not covered?",
          "HTML": "
          <p>A PRC does not cover treatment provided by pharmacies or private healthcare providers.</p>

          <p>If this is related to a prescription cost, you should use the name of the prescriber that issued the prescription. You should not use the name of the pharmacy. </p>
          "
         }) }}

        {{ input({
          "label": {
            "text": "Name"
          },
          "id": "input-width-30",
          "name": "treatment-facility-name-2",
          "classes": "nhsuk-input--width-30"
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}

