{% extends "layout.html" %}

{% block pageTitle %}
  Do you know your National Insurance number?
{% endblock %}

{% block beforeContent %}


  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">

      <div class="nhsuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1">
        <h2 class="nhsuk-error-summary__title" id="error-summary-title">
          There is a problem
        </h2>
        <div class="nhsuk-error-summary__body">
          <ul class="nhsuk-list nhsuk-error-summary__list">
            <li>
              <a href="#know-nino">Select yes if you know your National Insurance number</a>
            </li>
          </ul>
        </div>
      </div>
      <form action="knowNinoErr" method="post">

        {% call fieldset({
          legend: {
            text: "Do you know your National Insurance number?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          },
          hint: {
            html: "It's on your National Insurance card, benefit letter, payslip or P60. For example, 'QQ 12 34 56 C'."
          }
        }) %}
        

        {{ radios({
          "idPrefix": "know-nino",
          "name": "patient-know-nino",
          "errorMessage": {
            "text": "Select yes if you know your National Insurance number"
          },
          "items": [
            {
              "value": "Yes",
              "text": " Yes, I know my National Insurance number"
            },
            {
              "value": "No",
              "text": "No, I do not know my National Insurance number"
            }
          ]
        }) }}

        {% endcall %}


        {{ details({
          "text": "Why we ask for your National Insurance number",
          "HTML": "
          <p>We can use your National Insurance number to see if you currently hold a record with us. This may help us process your application faster.</p>
          <p>Providing this is optional and does not affect your eligibility to apply for a PRC.</p>

          "
        }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

      {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>


 <!--  {{ radios({
          "idPrefix": "partners",
          "name": "partners",
          "items": [
            {
              "value": "Spouse",
              "text": "Yes, add spouse or civil partner"
            },
            {
              "value": "Durable",
              "text": "Yes, add unmarried (durable) partner"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }} -->
{% endblock %}
