{% extends "layout.html" %}

{% block pageTitle %}
  What is your home address?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="nhs-number" method="post">

        {% call fieldset({
          legend: {
            text: "What is your home address?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        {{ input({
          "label": {
          "text": "Building and street"
          },
          "id": "input-width-20",
          "name": "test-width-20",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ input({
          "label": {
          "text": ""
          },
          "id": "input-width-20",
          "name": "test-width-20",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ input({
          "label": {
            "text": "Town or city"
          },
          "id": "input-width-20",
          "name": "test-width-20",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ input({
          "label": {
            "text": "County"
          },
          "id": "input-width-20",
          "name": "test-width-20",
          "classes": "nhsuk-input--width-20"
        }) }}

        {{ input({
          "label": {
            "text": "Postcode"
          },
          "id": "input-width-10",
          "name": "test-width-10",
          "classes": "nhsuk-input--width-10"
        }) }}


        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "address-list",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
