{% extends "layout.html" %}

{% block pageTitle %}
  What is your date of birth?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <form action="nino" method="post"> -->
      <form action="nino" method="post">

        {{ dateInput({
  "id": "example",
  "namePrefix": "example",
  "fieldset": {
    "legend": {
      "text": "What is your date of birth?",
      "classes": "nhsuk-label--l",
      "isPageHeading": true
        }
      },
      "hint": {
        "text": "For example, 15 3 1984"
      },
      "items": [
        {
          "name": "day",
          "classes": "nhsuk-input--width-2"
        },
        {
          "name": "month",
          "classes": "nhsuk-input--width-2"
        },
        {
          "name": "year",
          "classes": "nhsuk-input--width-4"
        }
      ]
    }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "full-name",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
