<!-- START HERE -->

{% extends "layout.html" %}

{% block pageTitle %}
  Is the treatment state-funded?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <span class="nhsuk-caption-l nhsuk-caption--bottom">Check your eligibility</span> -->
      <form action="stateFunded" method="post">

        {% call fieldset({
          legend: {
            text: "Is the treatment state-funded?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          },
          "hint": {
            "text": "PRC covers only for state-funded treatment."
          }
        }) %}

        {{ radios({
          "idPrefix": "state-funded",
          "name": "state-funded",
          "items": [
            {
              "value": "Yes",
              "text": "Yes"
            },
            {
              "value": "No",
              "text": "No"
            }
          ]
        }) }}

        {% endcall %}

        {{ details({
            "text": "More information about what medical treatment PRC covers",
            "HTML": "
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            "
          }) }}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Change my previous answer"
      }) }}
      
    </div>
  </div>
{% endblock %}

