{% extends 'layout.html' %}

{% block pageTitle %}

  Apply for a Provisional Replacement Certificate (PRC)

{% endblock %}

{% block beforeContent %}

<!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

<style>
  td.nhsuk-table__cell:nth-child(1) {
    /*background-color: red;*/
    width: 75%;
  }
  td.nhsuk-table__cell:nth-child(2),
  td.nhsuk-table__cell:nth-child(3) {
    text-align: center;
   /* width: 15%;*/
  }
  th.table-heading:nth-child(2),
  th.table-heading:nth-child(3) {
    text-align: center;
  }
</style>

{% block content %}
<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-two-thirds">
      <h1>Apply for a Provisional Replacement Certificate (PRC)</h1>

      <!-- <p>Use this service to:</p>
      <ul>
         <li>apply for healthcare cover if you are receiving emergency treatment in the EU, Norway, Iceland, Liechtenstein or Switzerland and do not have your UK GHIC or UK EHIC</li>
      </ul> -->

      <p>Use this service to apply for healthcare cover if you or someone else is receiving emergency treatment in the EU, Norway, Iceland, Liechtenstein, or Switzerland and do not have a UK Global Health Insurance Card (UK GHIC) or UK European Health Insurance Card (UK EHIC).</p>

      {{ details({
        "text": " What countries are in the European Union (EU)?",
        "HTML": "
        <p>The EU countries are:</p>
        <p>Austria, Belgium, Bulgaria, Croatia, Republic of Cyprus, Czech Republic, Denmark, Estonia, Finland, France, Germany, Greece, Hungary, Ireland, Italy, Latvia, Lithuania, Luxembourg, Malta, Netherlands, Poland, Portugal, Romania, Slovakia, Slovenia, Spain and Sweden.</p>
        "
      }) }}

    

      {% from 'warning-callout/macro.njk' import warningCallout %}

      {{ warningCallout({
        "heading": "Important",
        "HTML": "<p>You only need a PRC at the point of receiving medical treatment while abroad. To make sure you have healthcare cover before you travel, <a href=\"https://ehic-prototype.herokuapp.com/nhs-landing/get-healthcare-hub/ghic-ehic/overview-home\" target=\"_blank\">apply for a UK Global Health insurance Card (UK GHIC) or UK European Health insurance Card (UK EHIC)</a>.</p>"
      }) }}

      <h2>What is covered by a PRC</h2>

      <p>A PRC will cover you for medically necessary healthcare that cannot reasonably wait until you return home.</p>

      <p>Medically necessary healthcare includes things like:</p>

      <ul>
        <li>emergency treatment and visits to A&E</li>
        <li>treatment for a long-term or pre-existing medical condition</li>
        <li>routine medical care for pre-existing conditions that need monitoring</li>
        <li>routine maternity care, as long as you're not <a href="https://www.nhs.uk/using-the-nhs/healthcare-abroad/going-abroad-for-treatment/giving-birth-outside-the-uk/">going abroad to give birth</a></li>
        <li>oxygen therapy and kidney dialysis</li>
      </ul>

      <div class="nhsuk-inset-text">
         <span class="nhsuk-u-visually-hidden">Information: </span>
         <p>A PRC only covers you for treatment you receive at a public hospital, clinic or other treatment facility. If you are receiving private treatment, you need to consult your travel insurance.</p>
      </div>

      <p>A PRC cannot be issued to a pharmacy.</p>

      <h2>Before you start</h2>

      <p>We’ll ask you for your details, including:</p>

      <ul>
        <li>your email address</li>
        <li>your National Insurance number</li>
        <li>your OHS reference number, if you have one</li>
      </ul>

      <p>We’ll also ask for details about your medical treatment, including:</p>

      <ul>
        <li>the country where you’re receiving treatment</li>
        <li>the name of the hospital, clinic or treatment facility</li>
        <li>the email address for the department providing your treatment, which can be provided by medical staff</li>
      </ul>

      <p>If you’re applying on behalf of someone else, we’ll ask for their details too.</p>

      <!-- <p>Medical staff will be able to provide you with a valid email address.</p> -->


      <!-- <div class="nhsuk-inset-text">
         <span class="nhsuk-u-visually-hidden">Information: </span>
         <p>Hospital staff will be able to provide you with a valid email address.</p>
      </div> -->

      <a href="who-apply-for" class="nhsuk-button nhsuk-u-margin-bottom-8">
        Start now
      </a>

      <!-- <p><a href="terms">Who can apply using this service</a></p>

      <br> -->

      <!-- <details class="nhsuk-details nhsuk-expander">
         <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            If you are abroad and do not have your card with you</span>
         </summary>
         <div class="nhsuk-details__text">
            <p>You can get a Provisional Replacement Certificate (PRC) to prove your entitlement to medically necessary healthcare if you travel to the EU without your UK GHIC, UK EHIC or EHIC and need treatment during your visit. This includes if you travel and require treatment before you have received your card.</p>
            <p>You should only apply for a PRC at the point you need treatment. PRCs cannot be issued in advance.</p>
            <p>To apply for a PRC contact <a href="https://www.nhsbsa.nhs.uk/contact-us/overseas-healthcare-services-contact-us">NHS Overseas Healthcare Services</a>.</p>
         </div>
      </details> -->

      <details class="nhsuk-details nhsuk-expander">
         <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
            How we use your information</span>
         </summary>
         <div class="nhsuk-details__text">
            <p>To process your application, we may share your information (where appropriate) with:</p>
            <ul>
               <li>Indesser and LexisNexis, third party data providers acting on our behalf who will make a UK residency check</li>
               <!-- <li>NHS Digital to validate EU Settlement Scheme status</li> -->
            </ul>
            <p>For more information about how we use your information please read our privacy notice.</p>
         </div>
      </details>

   </div>

</div>
{% endblock %}
