{% extends 'layout.html' %}

{% block pageTitle %}

  Application submitted
  
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-bottom-4">
        <h1 class="nhsuk-panel__title">
            Application submitted
          </h1>
          <div class="nhsuk-panel__body">
            Your OHS reference number
            <br>
            <strong>25002123</strong>
          </div>
        </div>

        <p>Thank you for submitting your application for a <strong>Provisional Replacement Certificate (PRC)</strong>. </p>

        <!-- <p>We have sent a confirmation email to <strong>{{ data['your-email-address'] }}</strong> to let you know that we have received your application. It can take a few minutes for the email to arrive. If it doesn't arrive in 24 hours, check your spam or junk folder. -->

        <h2>What happens next</h2>

        <!-- <h3>Your application</h3> -->

        <ul>
          <li>We'll check your entitlement using the details you've given us in your application.</li>
          <li>We'll run a check to confirm your residency in the UK. This is not an identity check or a credit check, and it will not affect your credit score.</li>
          <li>If your application is successful, we'll email your PRC to the treatment facilities so they can calculate any costs that can be covered. We'll also email you a copy. </li>
          <li>If we need more information to help with your application, we may email you to ask for evidence.</li>
          <li>It should only take a few minutes for this email to arrive, but it may take up to 24 hours. . You may need to check your spam or junk folder.</li>
        </ul>  

        <h2>What a PRC covers</h2>

        <p>If you are eligible for a PRC, it provides the same cover as what would normally be covered by an existing European Health Insurance Card (EHIC), UK Global Health Insurance Card (UK GHIC), or UK European Health Insurance Card (UK EHIC).</p>
        <p>This means that you'd be covered for emergency treatment costs as if you were a resident of that country. </p>

        <h3>What it does not cover</h3>

        <p>Most treatment costs are covered by a PRC, but there are some exceptions. </p>
        <p>In some countries, a resident of that country may have to pay towards the cost of their treatment. This is known as a co-payment or a patient contribution. This means that you may need to pay for services that you would get for free on the NHS. </p>
        <p>These payments are typically for services like GP or dentist consultations, prescriptions, or hospital stays. </p>
        <p>Depending on the country you're claiming treatment, you may need to pay for services that you would get for free on the NHS. You may still receive an invoice for a co-payment if youve not paid one.  </p>
        <p>For more information on travelling in the European Economic Area (EEA) and Switzerland, including what a PRC covers in the country you're visiting, check the <a href="https://www.gov.uk/guidance/uk-residents-visiting-the-eueea-and-switzerland-healthcare">guidance on the GOV.UK website</a>.</p>
        
        <div class="nhsuk-warning-callout">
          <h3 class="nhsuk-warning-callout__label">
            <span role="text">
              <span class="nhsuk-u-visually-hidden">Important: </span>
              Travel insurance
            </span>
          </h3>
          <p>A PRC is not a substitute for travel insurance. It may not cover all health costs and never covers repatriation costs.</p>
        </div>

        <h3>What did you think of this service?</h3>

        <p>Your comments are extremely helpful and will help us to provide a better service.</p>

        <p>
          <a href="#">Give feedback</a> (Takes 30 seconds)
        </p>
                  
      </div>

    </div>
{% endblock %}
