{% extends 'layout.html' %}

{% block pageTitle %}

  Application complete
  
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <div class="nhsuk-panel nhsuk-panel--confirmation nhsuk-u-margin-bottom-4">
        <h1 class="nhsuk-panel__title">
            Application submitted
          </h1>
          <div class="nhsuk-panel__body">
            Your reference number
            <br>
            <strong>25002123</strong>
          </div>
        </div>

        <p>Thank you for submitting your application for a <strong>Provisonal Replacement Certificate</strong>.</p>

        <p>We have sent a confirmation email to <strong>{{ data['your-email-address'] }}</strong> to let you know that we have received your application. It can take a few minutes for the email to arrive. If it doesn't arrive in 24 hours, check your spam or junk folder.

        <h2>What happens next</h2>

        <h3>Your application</h3>

        <ul>
          <li>If you told us that you live in the UK, we will confirm your residency in the UK. This is not a credit check and will not affect your credit score in any way</li>
        </ul>  

        <h3>What did you think of this service?</h3>

        <p>Your comments are extremely helpful and will help us to provide a better service.</p>

        <p>
          <a href="#">Give feedback</a> (Takes 30 seconds)
        </p>
                  
      </div>

    </div>
{% endblock %}
