{% extends "layout.html" %}

{% block pageTitle %}
    What is your nationality?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
        <form action="nationality" method="post">

          <div class="nhsuk-form-group">
        
            <fieldset class="nhsuk-fieldset" aria-describedby="nationality-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  What is your nationality?
                </h1>
              </legend>
        
              <div class="nhsuk-hint" id="nationality-hint">
                If you have dual or multiple nationality, select all options that apply and then tell us what non-UK countries you are a national of.
              </div>
        
              <div class="nhsuk-checkboxes">
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="nationality-1" name="nationality" type="checkbox" value="UK" aria-describedby="nationality-1-item-hint">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="nationality-1">
                    United Kingdom (UK) national
                  </label>
                  <div class="nhsuk-hint nhsuk-radios__hint">
                    This includes English, Scottish, Welsh or Northern Irish
                  </div>
                </div>


                <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="eu-nationality" name="nationality" type="checkbox" value="EU, EEA" aria-describedby="nationality-3-item-hint" aria-controls="conditional-nationality-3" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="eu-nationality">
                      An EU citizen, or a national of Norway, Iceland, or Liechtenstein
                    </label>
                  </div>
          
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-nationality-3">
          
                    <div class="nhsuk-form-group" id="appendableEURT">
                      
                        <label class="nhsuk-label" for="eu-nationality">
                          Country name
                        </label>
                        <select id="eu-location-picker" class="eu-nationality" name="myInputsEURT[]" type="text">
                          <option value=""></option>
                          <option value="at">Austria</option>
                          <option value="be">Belgium</option>
                          <option value="bg">Bulgaria</option>
                          <option value="hr">Croatia</option>
                          <option value="cy">Cyprus</option>
                          <option value="cz">Czech Republic</option>
                          <option value="dk">Denmark</option>
                          <option value="ee">Estonia</option>
                          <option value="fi">Finland</option>
                          <option value="fr">France</option>
                          <option value="de">Germany</option>
                          <option value="gr">Greece</option>
                          <option value="hu">Hungary</option>
                          <option value="is">Iceland</option>
                          <option value="ie">Ireland</option>
                          <option value="it">Italy</option>
                          <option value="lv">Latvia</option>
                          <option value="li">Liechtenstein</option>
                          <option value="lt">Lithuania</option>
                          <option value="lu">Luxemburg</option>
                          <option value="mt">Malta</option>
                          <option value="nl">Netherlands</option>
                          <option value="no">Norway</option>
                          <option value="pl">Poland</option>
                          <option value="pt">Portugal</option>
                          <option value="ro">Romania</option>
                          <option value="sk">Slovakia</option>
                          <option value="si">Slovenia</option>
                          <option value="es">Spain</option>
                          <option value="se">Sweden</option>
                        </select>
                    </div>

                    <a style="margin-top: 1.5rem;" class="nhsuk-button nhsuk-button--secondary" onClick="return addInputEURT(this)">
                      Add additional country
                    </a>
                  </div>

                </div>

                <div class="nhsuk-checkboxes">

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="other-nationality" name="nationality" type="checkbox" value="Switzerland">
                    <label class="nhsuk-label nhsuk-checkboxes__label">
                      A national of Switzerland
                    </label>
                  </div>

                <div class="nhsuk-checkboxes nhsuk-checkboxes--conditional">

                  <div class="nhsuk-checkboxes__item">
                    <input class="nhsuk-checkboxes__input" id="other-nationality" name="nationality" type="checkbox" value="Other" aria-controls="conditional-nationality-4" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-checkboxes__label" for="other-nationality">
                      Any other nationality not listed
                    </label>
                  </div>
          
                  <div class="nhsuk-checkboxes__conditional nhsuk-checkboxes__conditional--hidden" id="conditional-nationality-4">
          
                    <div class="nhsuk-form-group" id="appendableOtherRT">

                      <label class="nhsuk-label" for="other-nationality">
                        Country name
                      </label>
                      <select id="other-location-picker" class="other-nationality" name="myInputsOtherRT[]" type="text">
                        <option value=""></option>
                        <option value="af">Afghanistan</option>
                        <option value="al">Albania</option>
                        <option value="dz">Algeria</option>
                        <option value="as">American Samoa</option>
                        <option value="ad">Andorra</option>
                        <option value="ao">Angola</option>
                        <option value="ai">Anguilla</option>
                        <option value="aq">Antarctica</option>
                        <option value="ag">Antigua and Barbuda</option>
                        <option value="ar">Argentina</option>
                        <option value="am">Armenia</option>
                        <option value="aw">Aruba</option>
                        <option value="au">Australia</option>
                        <option value="az">Azerbaijan</option>
                        <option value="bs">Bahamas </option>
                        <option value="bh">Bahrain</option>
                        <option value="bd">Bangladesh</option>
                        <option value="bb">Barbados</option>
                        <option value="by">Belarus</option>
                        <option value="bz">Belize</option>
                        <option value="bj">Benin</option>
                        <option value="bm">Bermuda</option>
                        <option value="bt">Bhutan</option>
                        <option value="bo">Bolivia (Plurinational State of)</option>
                        <option value="bq">Bonaire, Sint Eustatius and Saba</option>
                        <option value="ba">Bosnia and Herzegovina</option>
                        <option value="bw">Botswana</option>
                        <option value="bv">Bouvet Island </option>
                        <option value="br">Brazil</option>
                        <option value="io">British Indian Ocean Territory </option>
                        <option value="bn">Brunei Darussalam</option>
                        <option value="bf">Burkina Faso</option>
                        <option value="bi">Burundi</option>
                        <option value="cv">Cabo Verde</option>
                        <option value="kh">Cambodia</option>
                        <option value="cm">Cameroon</option>
                        <option value="ca">Canada</option>
                        <option value="ky">Cayman Islands </option>
                        <option value="cf">Central African Republic </option>
                        <option value="td">Chad</option>
                        <option value="cl">Chile</option>
                        <option value="cn">China</option>
                        <option value="cx">Christmas Island</option>
                        <option value="cc">Cocos (Keeling) Islands </option>
                        <option value="co">Colombia</option>
                        <option value="km">Comoros</option>
                        <option value="cd">Congo (the Democratic Republic of the)</option>
                        <option value="cg">Congo</option>
                        <option value="ck">Cook Islands </option>
                        <option value="cr">Costa Rica </option>
                        <option value="cu">Cuba</option>
                        <option value="cw">Curaçao</option>
                        <option value="ci">Côte d'Ivoire</option>
                        <option value="dj">Djibouti</option>
                        <option value="dm">Dominica</option>
                        <option value="do">Dominican Republic </option>
                        <option value="ec">Ecuador</option>
                        <option value="eg">Egypt</option>
                        <option value="sv">El Salvador</option>
                        <option value="gq">Equatorial Guinea</option>
                        <option value="er">Eritrea</option>
                        <option value="sz">Eswatini</option>
                        <option value="et">Ethiopia</option>
                        <option value="fk">Falkland Islands </option>
                        <option value="fo">Faroe Islands</option>
                        <option value="fj">Fiji</option>
                        <option value="gf">French Guiana</option>
                        <option value="pf">French Polynesia</option>
                        <option value="tf">French Southern Territories</option>
                        <option value="ga">Gabon</option>
                        <option value="gm">Gambia</option>
                        <option value="ge">Georgia</option>
                        <option value="gh">Ghana</option>
                        <option value="gi">Gibraltar</option>
                        <option value="gl">Greenland</option>
                        <option value="gd">Grenada</option>
                        <option value="gp">Guadeloupe</option>
                        <option value="gu">Guam</option>
                        <option value="gt">Guatemala</option>
                        <option value="gn">Guinea</option>
                        <option value="gw">Guinea-Bissau</option>
                        <option value="gy">Guyana</option>
                        <option value="ht">Haiti</option>
                        <option value="hm">Heard Island and McDonald Islands</option>
                        <option value="hn">Honduras</option>
                        <option value="hk">Hong Kong</option>
                        <option value="in">India</option>
                        <option value="id">Indonesia</option>
                        <option value="ir">Iran</option>
                        <option value="iq">Iraq</option>
                        <option value="il">Israel</option>
                        <option value="jm">Jamaica</option>
                        <option value="jp">Japan</option>
                        <option value="jo">Jordan</option>
                        <option value="kz">Kazakhstan</option>
                        <option value="ke">Kenya</option>
                        <option value="ki">Kiribati</option>
                        <option value="kp">Korea (the Democratic People's Republic of)</option>
                        <option value="kr">Korea (the Republic of)</option>
                        <option value="kw">Kuwait</option>
                        <option value="kg">Kyrgyzstan</option>
                        <option value="la">Lao People's Democratic Republic (the)</option>
                        <option value="lb">Lebanon</option>
                        <option value="ls">Lesotho</option>
                        <option value="lr">Liberia</option>
                        <option value="ly">Libya</option>
                        <option value="mo">Macao</option>
                        <option value="mg">Madagascar</option>
                        <option value="mw">Malawi</option>
                        <option value="my">Malaysia</option>
                        <option value="mv">Maldives</option>
                        <option value="ml">Mali</option>
                        <option value="mt">Malta</option>
                        <option value="mh">Marshall Islands</option>
                        <option value="mq">Martinique</option>
                        <option value="mr">Mauritania</option>
                        <option value="mu">Mauritius</option>
                        <option value="yt">Mayotte</option>
                        <option value="mx">Mexico</option>
                        <option value="fm">Micronesia (Federated States of)</option>
                        <option value="md">Moldova (the Republic of)</option>
                        <option value="mc">Monaco</option>
                        <option value="mn">Mongolia</option>
                        <option value="me">Montenegro</option>
                        <option value="ms">Montserrat</option>
                        <option value="ma">Morocco</option>
                        <option value="mz">Mozambique</option>
                        <option value="mn">Myanmar</option>
                        <option value="na">Namibia</option>
                        <option value="nr">Nauru</option>
                        <option value="np">Nepal</option>
                        <option value="nc">New Caledonia</option>
                        <option value="nz">New Zealand</option>
                        <option value="ni">Nicaragua</option>
                        <option value="ne">Niger</option>
                        <option value="ng">Nigeria</option>
                        <option value="nu">Niue</option>
                        <option value="nf">Norfolk Island</option>
                        <option value="mp">Northern Mariana Islands</option>
                        <option value="om">Oman</option>
                        <option value="pk">Pakistan</option>
                        <option value="pw">Palau</option>
                        <option value="ps">Palestine, State of</option>
                        <option value="pa">Panama</option>
                        <option value="pg">Papua New Guinea</option>
                        <option value="py">Paraguay</option>
                        <option value="pe">Peru</option>
                        <option value="ph">Philippines</option>
                        <option value="pn">Pitcairn</option>
                        <option value="pr">Puerto Rico</option>
                        <option value="qa">Qatar</option>
                        <option value="mk">Republic of North Macedonia</option>
                        <option value="ru">Russian Federation</option>
                        <option value="rw">Rwanda</option>
                        <option value="re">Réunion</option>
                        <option value="bl">Saint Barthélemy</option>
                        <option value="sh">Saint Helena, Ascension and Tristan da Cunha</option>
                        <option value="kn">Saint Kitts and Nevis</option>
                        <option value="lc">Saint Lucia</option>
                        <option value="mf">Saint Martin (French part)</option>
                        <option value="pm">Saint Pierre and Miquelon</option>
                        <option value="vc">Saint Vincent and the Grenadines</option>
                        <option value="ws">Samoa</option>
                        <option value="sm">San Marino</option>
                        <option value="st">Sao Tome and Principe</option>
                        <option value="sa">Saudi Arabia</option>
                        <option value="sn">Senegal</option>
                        <option value="rs">Serbia</option>
                        <option value="sc">Seychelles</option>
                        <option value="sl">Sierra Leone</option>
                        <option value="sg">Singapore</option>
                        <option value="sx">Sint Maarten (Dutch part)</option>
                        <option value="sb">Solomon Islands</option>
                        <option value="so">Somalia</option>
                        <option value="za">South Africa</option>
                        <option value="gs">South Georgia and the South Sandwich Islands</option>
                        <option value="ss">South Sudan</option>
                        <option value="lk">Sri Lanka</option>
                        <option value="sd">Sudan</option>
                        <option value="sr">Suriname</option>
                        <option value="sj">Svalbard and Jan Mayen</option>
                        <option value="sy">Syrian Arab Republic</option>
                        <option value="tw">Taiwan</option>
                        <option value="tj">Tajikistan</option>
                        <option value="tz">Tanzania, United Republic of</option>
                        <option value="th">Thailand</option>
                        <option value="tl">Timor-Leste</option>
                        <option value="tg">Togo</option>
                        <option value="tk">Tokelau</option>
                        <option value="to">Tonga</option>
                        <option value="tt">Trinidad and Tobago</option>
                        <option value="tn">Tunisia</option>
                        <option value="tr">Turkey</option>
                        <option value="tm">Turkmenistan</option>
                        <option value="tc">Turks and Caicos Islands</option>
                        <option value="tv">Tuvalu</option>
                        <option value="ug">Uganda</option>
                        <option value="ua">Ukraine</option>
                        <option value="ae">United Arab Emirates</option>
                        <option value="um">United States Minor Outlying Islands</option>
                        <option value="us">United States of America</option>
                        <option value="uy">Uruguay</option>
                        <option value="uz">Uzbekistan</option>
                        <option value="vu">Vanuatu</option>
                        <option value="va">Vatican City</option>
                        <option value="ve">Venezuela</option>
                        <option value="vn">Vietnam</option>
                        <option value="vg">Virgin Islands (British)</option>
                        <option value="vi">Virgin Islands (U.S.)</option>
                        <option value="wf">Wallis and Futuna</option>
                        <option value="eh">Western Sahara</option>
                        <option value="ye">Yemen</option>
                        <option value="zm">Zambia</option>
                        <option value="zw">Zimbabwe</option>
                        <option value="ax">Åland Islands</option>
                      </select>
                    </div>
                    
                    <a style="margin-top: 1.5rem;" class="nhsuk-button nhsuk-button--secondary" onClick="return addInputOtherRT(this)">
                      Add additional country
                    </a>
                  </div>

                </div>
        
              </div>
            </fieldset>
        
          </div>
        

        {{ details({
          "text": "More information about dual nationality",
          "HTML": "
          <p>If you are a national of at least one EU country, or any of the other European countries 
            listed, you should select <strong>EU citizen or a national of Norway, Iceland, or 
              Liechtenstein</strong> and tell us which countries.</p>
          <p>If you are also a UK national, select <strong>United Kingdom (UK) national</strong> as well.</p>
          <p>If you have dual or multiple nationalities involving nationality of the UK and another 
            country not listed, select <strong>United Kingdom (UK) national</strong>, then select <strong>Any other nationality 
            not listed</strong> and tell us which countries.</p>
          <p>If you have dual or multiple nationalities not involving the UK, the EU or any of the other 
            European countries listed, select <strong>Any other nationality not listed</strong> and add each country in turn.</p>
          "
        }) }}


        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Change my previous answer"
      }) }}
      
    </div>
  </div>

{% endblock %}
