{% extends "layout.html" %}

{% block pageTitle %}
  What country are you receiving medical treatment?
{% endblock %}

{% block beforeContent %}

<style>

  @media (min-width: 40.0625em) {
    .nhsuk-form-group .autocomplete__wrapper {
       max-width: 74ex;
    }}

  </style>

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="treatmentCountry" method="post">

      <fieldset class="nhsuk-fieldset">
          <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
            <h1 class="nhsuk-fieldset__heading">
              What country are you receiving medical treatment in?
            </h1>
          </legend>

        <p>This must be an EU country or Switzerland.</p>

        <div class="nhsuk-form-group">

        <label class="nhsuk-label" for="eu-location-picker">
            Country
          </label>
          <select id="eu-location-picker" class="nhsuk-input nhsuk-input--width-30" name="location-picker-1" type="text">
            <option value=""></option>
            <option value="Austria">Austria</option>
            <option value="Belgium">Belgium</option>
            <option value="Bulgaria">Bulgaria</option>
            <option value="Croatia">Croatia</option>
            <option value="Cyprus">Cyprus</option>
            <option value="Czech Republic">Czech Republic</option>
            <option value="Denmark">Denmark</option>
            <option value="Estonia">Estonia</option>
            <option value="Finland">Finland</option>
            <option value="France">France</option>
            <option value="Germany">Germany</option>
            <option value="Greece">Greece</option>
            <option value="Hungary">Hungary</option>
            <option value="Iceland">Iceland</option>
            <option value="Ireland">Ireland</option>
            <option value="Italy">Italy</option>
            <option value="Latvia">Latvia</option>
            <option value="Liechtenstein">Liechtenstein</option>
            <option value="Lithuania">Lithuania</option>
            <option value="Luxemburg">Luxemburg</option>
            <option value="Malta">Malta</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Norway">Norway</option>
            <option value="Poland">Poland</option>
            <option value="Portugal">Portugal</option>
            <option value="Romania">Romania</option>
            <option value="Slovakia">Slovakia</option>
            <option value="Slovenia">Slovenia</option>
            <option value="Spain">Spain</option>
            <option value="Sweden">Sweden</option>
            <option value="Switzerland">Switzerland</option>
          </select>
        </div>

      </fieldset>

        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              I'm receiving treatment in a different country
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>If you are receiving treatment in Norway, Iceland or Liechtenstein, you cannot use this online service. You need to <a href="https://www.nhsbsa.nhs.uk/contact-us/overseas-healthcare-services-contact-us">contact us</a>.</p>
            <p>If you are receiving treatment outside the EU, Norway, Iceland, Liechtenstein or Switzerland, you cannot get a PRC. You need to contact your travel insurance provider to find out what to do next.</p>
          </div>
        </details>

        <button class="nhsuk-button">
          Continue
        </button>

      </form>

     {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
