{% extends "layout.html" %}

{% block pageTitle %}
  What is your email address?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <!-- <form action="child/full-name" method="post"> -->
      <form action="info-child" method="post">

        {% call fieldset({
          legend: {
            text: "What is your email address?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>We’ll use this to send a copy of the Provisional Replacement Certificate to you.</p>

        {{ input({
          "label": {
            "text": "Enter your email address"
          },
          "id": "input-width-30",
          "name": "email-address",
          "classes": "nhsuk-input--width-30"
        }) }}


        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
