{% extends "layout.html" %}

{% block pageTitle %}
  What is the name of the hospital, clinic, or treatment facility?
{% endblock %}

{% block beforeContent %}

  <!-- Phase banner -->
  <div class="app-phase-banner">
    <div class="nhsuk-width-container app-phase-banner__container">
      <p class="app-phase-banner__content">
        <strong class="nhsuk-tag app-phase-banner__tag">
          Prototype
        </strong>
        <span class="app-phase-banner__text">
        This is a prototype - your <a href="#">feedback</a> will help us improve it.
        </span>
      </p>
    </div>
  </div>
  
{% endblock %}

{% block content %}

  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-three-quarters">
      <form action="additional-facility" method="get">

        {% call fieldset({
          legend: {
            text: "What are the name and email address of the hospital, clinic, or treatment facility?",
            classes: "nhsuk-fieldset__legend--l",
            isPageHeading: true
          }
        }) %}

        <p>Make sure that you spell the details correctly. Medical staff can provide you with the email address of the relevant department.</p>
        <!-- Ospedale Santobono Entrata Pronto Soccorso -->
      
        <p>A PRC does not cover prescriptions obtained from a pharmacy, even if they were prescribed by someone else. A PRC cannot be issued to a pharmacy.</p>

        <p>A PRC can only be issued and used at state-funded healthcare centres.</p>
      

        {{ input({
          "label": {
            "text": "Name"
          },
          "id": "treatment-name",
          "name": "treatment-name",
          "classes": "nhsuk-input--width-30",
          "type": "text"
        }) }}

        {{ input({
          "label": {
            "text": "Email address"
          },
          "id": "treatment-email",
          "name": "treatment-email",
          "classes": "nhsuk-input--width-30",
          "type": "text",
          "value": ""
        }) }}

        {% endcall %}

        {{ button({
          "text": "Continue"
        }) }}

      </form>

     {{ backLink({
        "href": "javascript:history.go(-1)",
        "text": "Change my previous answer"
      }) }}

    </div>
  </div>
{% endblock %}
