{% extends 'layout.html' %}
{% block pageTitle %}

   Apply for a Provisional Replacement Certificate (PRC)

{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

<style type="text/css">

   p.current {
      float: right; 
      color: black; 
      padding: 5px 10px 0;
      margin-bottom: 0;
   }

   .nhsuk-tag--green {
       background-color: #cce5d8;
       border: 1px solid #004c23;
       color: #004c23;
       margin-left: 10px;
   }

.nhsuk-details__text {
      width: 66.6%;
   }
   
</style>

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-full">
      <h1>
         Overseas Healthcare Services
         <span class="nhsuk-caption-xl nhsuk-caption--bottom">Apply for a Provisional Replacement Certificate (PRC)</span>
      </h1>
      <h3>Alpha</h3>
      <p>May 2022</p>
      <!-- <p>GDS Alpha assessment - 22 September 2020
          <strong class="nhsuk-tag nhsuk-tag--green">
           Passed
         </strong>
      </p> -->
      
      <hr>
      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Alpha (Sprints 53)
               </span>
            <p class="current">CURRENT SPRINT</p>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 01 July 2022</p>
               <h3>Journeys</h3>
               <ul>
                  <li>Patient applies for a PRC</li>
                  <li>Person applies for a PRC on behalf of someone else</li>
                  <li>Parent or legal guardian applies for a PRC on behalf of their child who is under 18</li>
                  <li>File upload for PRC failed residency checks applications</li>
               </ul>

               <!-- <p><a href="current/_breakdown">Page by page breakdown</a></p> -->

               <hr>

               {{ actionLink({
               "text": "Apply for a Provisional Replacement Certificate (PRC)",
               "href": "/sprint-053/start-application"
               }) }}

            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Alpha (Sprints 52)
               </span>
            <!-- <p class="current">CURRENT SPRINT</p> -->
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 16 June 2022</p>
               <h3>Journeys</h3>
               <ul>
                  <li>Patient applies for a PRC</li>
                  <li>Person applies for a PRC on behalf of someone else</li>
                  <li>Parent or legal guardian applies for a PRC on behalf of their child who is under 18</li>
                  <li>File upload for PRC failed residency checks applications</li>
               </ul>

               <p><a href="current/_breakdown">Page by page breakdown</a></p>

               <hr>

               {{ actionLink({
               "text": "Apply for a Provisional Replacement Certificate (PRC)",
               "href": "/current/start-application"
               }) }}

            </div>
         </details>
      </div>

      <div class="nhsuk-expander-group">
         <details class="nhsuk-details nhsuk-expander">
            <summary class="nhsuk-details__summary">
               <span class="nhsuk-details__summary-text">
               Alpha (Sprints 49, 50, 51)
               </span>
            </summary>
            <div class="nhsuk-details__text">
               <p>Sprint commencing: 2 June 2022</p>
               <h3>Journeys</h3>
               <ul>
                  <li>Patient applies for a PRC</li>
                  <li>Person applies for a PRC on behalf of someone else</li>
                  <li>Parent or legal guardian applies for a PRC on behalf of their child who is under 18</li>
               </ul>

               <p><a href="current/_breakdown">Page by page breakdown</a></p>

               <hr>

               {{ actionLink({
               "text": "Apply for a Provisional Replacement Certificate (PRC)",
               "href": "/sprint-052/start-application"
               }) }}

            </div>
         </details>
      </div>

   </div>
</div>
{% endblock %}