{% extends 'layout.html' %}
{% block pageTitle %}

   Apply for a Provisional Replacement Certificate (PRC)

{% endblock %}
{% block beforeContent %}
{% endblock %}
{% block content %}

<style type="text/css">

   p.current {
      float: right; 
      color: black; 
      padding: 10px 0;
   }

   .nhsuk-inset-text{ 
      border-color: #d5281b;
      color: #d5281b;
      font-weight: bold;
   }
   
</style>

<div class="nhsuk-grid-row">
   <div class="nhsuk-grid-column-full">
      <h1>
         Overseas Healthcare ServicesServices
         <!-- <span class="nhsuk-caption-xl nhsuk-caption--bottom">Apply for an EHIC</span> -->
         <span class="nhsuk-caption-xl nhsuk-caption--bottom">Apply for a Provisional Replacement Certificate (PRC)</span>
      </h1>
      <p class="nhsuk-lede-text">
         Enable UK citizens to get medically necessary treatment when they visit an EU/EEA country or Switzerland and don't have their GHIC or EHIC with them.
      </p>

      <hr>

      <!-- <div class="nhsuk-inset-text">
        <span class="nhsuk-u-visually-hidden">Information: </span>
        <p>Don't use any of this prototype code on production services, it doesn't adhere to development standards and is hacked together quickly and roughly.</p>
      </div> -->

      <h3>Project phases</h3>

      <!-- {{ actionLink({
        "text": "Live",
        "href": "live"
      }) }}

      {{ actionLink({
        "text": "Beta",
        "href": "beta"
      }) }} -->

      {{ actionLink({
        "text": "Alpha",
        "href": "alpha"
      }) }}

      <hr>

      <!-- <h3>Experimental work</h3>

      <ul>
         <li>Nationality capture</li>
         <li>NHS.UK landing page</li>
         <li>Tasklist</li>
      </ul>

      {{ actionLink({
        "text": "Experimental work",
        "href": "experimental"
      }) }}

      <hr> -->

      <h3>Usability testing prototype</h3>

      <p>(Opens in a new tab)</p>

      <p>
         Username: <strong>nhsbsa</strong>
         <br>
         Password: <strong>nhsbsa</strong>
      </p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="https://ehic-user-research.herokuapp.com/" target="_blank">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">
            Usability testing prototype
         </span>
        </a>
      </div>

      <hr>

      <h3>Get healthcare for travelling abroad prototype</h3>

      <p>(Opens in a new tab)</p>

      <p>
         Username: <strong>nhsbsa</strong>
         <br>
         Password: <strong>nhsbsa</strong>
      </p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="https://ehic-prototype.herokuapp.com/" target="_blank">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">
            Get healthcare for travelling abroad prototype
         </span>
        </a>
      </div>

      <!-- <hr>

      <h3>Design History</h3>

      <p>A log of design decisions made (link opens in a new tab).</p>

      <div class="nhsuk-action-link">
        <a class="nhsuk-action-link__link" href="https://ehic-design-history.herokuapp.com/" target="_blank">
          <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none"></path>
            <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
          </svg>
          <span class="nhsuk-action-link__text">
            'Get healthcare cover for travelling abroad' Design History
         </span>
        </a>
      </div> -->

   </div>
</div>
{% endblock %}